@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --gradient-color: linear-gradient(
    90deg,
    hsl(48, 100%, 50%) 0%,
    hsl(28, 100%, 54%, 100%)
  );
  --gradient-color-down: linear-gradient(90deg, #0bd290, #14ff9d);
  --black-color: hsl(225, 15%, 6%);
  --reflection-color: hsla(48, 30%, 95%, 0.3);
  --body-color: hsl(48, 100%, 98%);
  --body-color-right-bottom: linear-gradient(
    135deg,
    rgb(0, 3, 25, 0.1),
    rgba(129, 59, 151, 0.1),
    rgba(129, 59, 151, 0.1),
    rgba(70, 60, 150, 0.4),
    rgb(105, 86, 146, 0.5)
  );
  --body-color-right-top: linear-gradient(
    45deg,
    rgb(0, 3, 25, 0.1),
    rgba(129, 59, 151, 0.1),
    rgba(129, 59, 151, 0.1),
    rgba(70, 60, 150, 0.4),
    rgb(105, 86, 146, 0.5)
  );
  --card-backgorund: linear-gradient(
    135deg,
    rgb(21, 34, 56, 0.1),
    rgb(16, 25, 35, 0.2)
  );
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --scale-anim: scale(0.95);
}
/*---------*/

@font-face {
  font-family: Centra;
  src: url("./font/CentraNo2-Medium.ttf");
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  width: 100%;
  position: relative;
  background-color: #121212 !important;
  color: azure !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  scroll-behavior: smooth;
}

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--body-color-right-bottom);
  top: 0;
}
.home .home_left {
  position: relative;
  width: 30%;
  height: 600px;
  margin: 0 20px 0 0;
  font-family: "Victor Mono", monospace;
}
.home .home_left:hover {
  transform: var(--scale-anim);
}

.dot {
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 0%;
    right: 0%;
  }
  25% {
    top: 0%;
    right: calc(100% - 0px);
  }
  50% {
    top: calc(100% - 0px);
    right: calc(100% - 0px);
  }
  75% {
    top: calc(100% - 30px);
    right: 0%;
  }
}
.home .home_left .left_about {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--card-backgorund);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 7px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px 20px;
}
.home .home_left .left_about .a1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 32%;
  top: -12px;
  left: -12px;
  padding-left: 10px;
  background: white;
  border-radius: 20px 0 20px 0;
  z-index: 10;
}
.home .home_left .left_about .a1 h1 {
  font-size: 18px;
  color: #0d0c22;
}
.home .home_left .left_about .bottom {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .home_left .left_about .bottom h2 {
  text-align: left;
  font-size: 30px;
  width: 100%;
  font-weight: 400;
  font-style: normal;
}
.home .home_left .left_about .bottom .pin {
  background: dodgerblue;
  border-radius: 20px;
  margin: 8px 0 8px 0;
  padding: 2px 10px 2px 10px;
}
.home .home_left .left_about h3 {
  width: 100%;
}
.home .home_left .left_about img {
  position: relative;
  width: 98%;
  height: 400px;
  object-fit: cover;
  margin: 0;
}

.home .home_right {
  position: relative;
  width: 50%;
  height: 600px;
  font-family: "Victor Mono", monospace;
}
.home .home_right .right_line_1 {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 20px 0;
}
.home .home_right .right_line_1 .line_1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 16.6%;
  border-radius: 20px;
  font-size: 80px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background: var(--card-backgorund);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 7px 30px 0 rgba(0, 0, 0, 0.3);
}
.home .home_right .right_line_1 .line_1:hover {
  transform: var(--scale-anim);
}
.home .home_right .right_line_1 .line_1 a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.home .home_right .right_line_1 .line_1 a:link,
.home .home_right .right_line_1 .line_1 a:visited,
.home .home_right .right_line_1 .line_1 a:focus {
  color: azure;
}
.home .home_right .right_line_1 .line_1 a img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  border-radius: 20px;
}
.home .home_right .right_line_1 .line_1._1 {
  margin-right: 20px;
}
.home .home_right .right_line_1 .line_1._2 {
  margin-right: 20px;
}
.home .home_right .right_line_1 .line_1._3 {
  margin-right: 20px;
}

.home .home_right .right_line_1 .line_1._4 {
  margin-right: 20px;
}

.home .home_right .right_line_1 .line_1._5 {
  margin-right: 20px;
}

.home .home_right .right_line_2 {
  width: 100%;
  height: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_right .right_line_2 .line_2_left {
  width: 80%;
  position: relative;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 7px 30px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  transform: var(--scale-anim);
}
.home .home_right .right_line_2 .line_2_left.slide {
  transform: scale(1);
}
.home .home_right .right_line_2 .line_2_left button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 10px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  color: azure;
}
.carousel-inner {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item .title {
  position: absolute;
  z-index: 1;
  color: azure;
  background: rgb(13, 12, 34, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 20px;
  height: auto;
  width: 100%;
}
.carousel-item .title h1 {
  font-family: "Fascinate", system-ui;
  font-size: 50px;
}
.carousel-item .title p {
  font-size: 20px;
}
.carousel-item {
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------------------*/

.home .home_right .right_line_2 .line_2_right {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 0 20px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
.home .home_right .right_line_2 .line_2_right:hover {
  transform: var(--scale-anim);
}
.home .home_right .right_line_2 .line_2_right .line_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--card-backgorund);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 7px 30px 0 rgba(0, 0, 0, 0.3);
  color: azure;
  /* -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px); */
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}
.home .home_right .right_line_2 .line_2_right .line_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #610ecc;
  filter: drop-shadow(0 0 20px #610ecc);
  color: azure;
  width: 100%;
  height: 50%;
  border-radius: 0 0 20px 20px;
  animation-delay: -5s;
  animation-duration: 0.5s;
}
.home .home_right .right_line_2 .line_2_right .line_2 .wave {
  position: absolute;
  width: 400px;
  height: 155px;
  top: -6px;
  background-color: rgb(97, 14, 204, 0.5);
  filter: drop-shadow(0 0 10px #610ecc);
  border-radius: 40%;
  animation: move-forever 4s linear infinite;
}
.home .home_right .right_line_2 .line_2_right .line_2 .wave::after {
  content: "";
  width: 418px;
  height: 180px;
  border-radius: 60%;
  position: absolute;
  background: rgba(97, 14, 204, 0.5);
  filter: drop-shadow(0 0 10px rgb(97, 14, 204, 0.5));
  top: -6px;
  animation: move-forever 6s linear infinite;
}

.home .home_right .right_line_2 .line_2_right .line_2 .wave::before {
  content: "";
  width: 389px;
  height: 140px;
  border-radius: 60%;
  position: absolute;
  background: #610ecc;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0px;
  animation: move-forever 5s linear infinite;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(300px, 0, 0);
  }
}

.home .home_right .right_line_2 .line_2_right h1 {
  font-size: 60px;
  z-index: 100;
}

.home .home_right .right_line_2 .line_2_right p {
  font-size: 25px;
  z-index: 100;
}
.home .home_right .right_line_3 {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.home .home_right .right_line_3 .line_3_left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--card-backgorund);
  /* background: linear-gradient(rgb(129, 59, 151), rgb(70, 60, 150)); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 7px 30px 0 rgba(0, 0, 0, 0.3);
  width: 30%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  color: azure;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.home .home_right .right_line_3 .line_3_left:hover {
  transform: var(--scale-anim);
}
.home .home_right .right_line_3 .line_3_left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home .home_right .right_line_3 .line_3_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  position: relative;
  margin-left: 20px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.home .home_right .right_line_3 .line_3_right .r1 {
  height: 100%;
  width: 50%;
  display: flex;
  position: relative;
  place-items: center;
}
.home .home_right .right_line_3 .line_3_right .r2 {
  height: 100%;
  width: 50%;
  display: flex;
  position: relative;
  place-items: center;
}

/*------------------btn----------------*/
.home .home_right .right_line_3 .line_3_right .button {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s;
}

.button__content {
  position: relative;
  background: var(--gradient-color);
  padding: 0.9rem 5rem;
  border-radius: 0px 20px 20px 0;
  border: 2px solid var(--black-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  overflow: hidden;
}
.home .home_right .right_line_3 .line_3_right .r1 .button__content {
  border-radius: 20px 0px 0px 20px;
  background: var(--gradient-color-down);
}
.button__text {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__text,
.button__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Reflection shapes */
.button__reflection-1,
.button__reflection-2 {
  width: 15px;
  height: 250px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left 0.6s cubic-bezier(0.2, 0.5, 0.2, 1.2);
}

.button__reflection-1::after {
  content: "";
  width: 8px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.button__reflection-2::after {
  content: "";
  width: 65px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.4rem;
}

/* Moving geometric shapes */
.button img {
  position: absolute;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.button__star-1 {
  width: 30px;
  top: -14px;
  left: -16px;
  transform: rotate(48deg) scale(0.1);
}

.button__star-2 {
  width: 50px;
  right: -10px;
  top: -4px;
  transform: rotate(-48deg) scale(0.1);
}

.button__circle-1,
.button__circle-2 {
  width: 10px;
}

.button__circle-1 {
  top: -8px;
  left: 58px;
  transform: scale(0.1);
}

.button__circle-2 {
  right: 34px;
  bottom: -8px;
  transform: scale(0.1);
}

.button__diamond {
  width: 18px;
  top: -18px;
  right: 62px;
  transform: scale(0.1);
}

.button__triangle {
  width: 30px;
  left: 15px;
  bottom: -16px;
  transform: rotate(-48deg) scale(0.1);
}

/* Gradient shadow */
.button__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gradient-color);
  padding: 1.25rem 3rem;
  border-radius: 0px 20px 20px 0;
  border: 2px solid var(--black-color);
  z-index: -1;
  transition: transform 0.3s;
}
.home .home_right .right_line_3 .line_3_right .r1 .button__shadow {
  border-radius: 20px 0px 0px 20px;
  background: var(--gradient-color-down);
}
/* View shadow gradient */
.button:hover .button__shadow {
  transform: translate(-0.5rem, 0.5rem);
}
.home
  .home_right
  .right_line_3
  .line_3_right
  .r1
  .button:hover
  .button__shadow {
  transform: translate(0.5rem, -0.5rem);
}
/* Move reflection */
.button:hover .button__reflection-1 {
  left: 120%;
}

.button:hover .button__reflection-2 {
  left: -70%;
}

/* View geometric shapes */
.button:hover {
  transform: rotate(-4deg) scale(1.1);
  z-index: 99999;
}
.r1:hover {
  z-index: 99999;
}
.r2:hover {
  z-index: 99999;
}
.home .home_right .right_line_3 .line_3_right .r1 .button:hover {
  transform: rotate(4deg) scale(1.1);
}
.button:hover img {
  opacity: 1;
}

.button:hover .button__star-1 {
  transform: scale(1.1);
  transition-delay: 0.1s;
}

.button:hover .button__star-2 {
  transform: scale(1.1);
}

.button:hover .button__circle-1 {
  transform: translateY(-8px) scale(1.1);
  transition-delay: 0.1s;
}

.button:hover .button__circle-2 {
  transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button__diamond {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.button:hover .button__triangle {
  transform: rotate(-12deg) scale(1.1);
}
/*-----------------/btn----------------*/
.home .home_right .right_line_3 .line_3_right h1 {
  font-size: 70px;
}
.home .home_right .right_line_3 .line_3_right p {
  padding-left: 20px;
}
.home .home_right .right_line_3 .line_3_right h2 {
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}

.home .home_right .right_line_3 .line_3_right .r1 a {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
  color: #fafafa;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 1500px) and (min-width: 992px),
  (max-width: 576px) {
  .App {
    overflow-x: hidden;
  }
  .home {
    flex-direction: column;
    height: max-content;
  }
  .home .home_left .left_label .a1 h1 {
    font-size: 13px;
  }
  .home .home_left .left_label .a1 {
    width: 45%;
  }
  .home .home_left .left_label .a2 {
    width: 55%;
  }
  .home .home_left .left_label .a1::after {
    bottom: -52px;
  }
  .home .home_left .left_about img {
    width: 100%;
    height: 50%;
    margin-left: 20px;
  }
  .home .home_left .left_about .bottom .logo {
    width: 100px;
    height: 100px;
  }

  .home .home_left .left_about .bottom {
    flex-direction: column;
  }
  .home .home_left .left_label {
    height: 30px;
  }
  .home .home_right .right_line_1 .line_1 a {
    border-radius: 0px;
  }
  .home .home_right .right_line_1 .line_1 a img {
    width: 100%;
    height: 100%;
  }
  .home .home_right .right_line_1 h1 {
    font-size: 50px;
    padding: 10px;
  }
  .home .home_left {
    width: 96%;
    height: 750px;
    margin: 20px;
  }
  .home .home_left .left_about .a1 {
    width: 40%;
    top: -5px;
    left: -5px;
  }
  .home .home_right {
    width: 98%;
    height: max-content;
  }

  .home .home_right .right_line_2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .home .home_right .right_line_2 .line_2_right .line_2::after {
    display: none;
  }
  .home .home_right .right_line_2 .line_2_right .line_2::before {
    display: none;
  }
  .home .home_right .right_line_2 .line_2_left {
    width: 98%;
    position: relative;
    height: max-content;
  }
  .home .home_right .right_line_3 {
    flex-direction: column;
  }
  .home .home_right .right_line_3 .line_3_left {
    width: 50%;
    padding: 10px;
  }
  .home .home_right .right_line_2 .line_2_right .line_1 {
    padding: 10px;
    border-radius: 20px 0 0 20px;
  }
  .home .home_right .right_line_2 .line_2_right .line_2 {
    padding: 10px;
    border-radius: 0 20px 20px 0;
  }
  .home .home_right .right_line_2 .line_2_right {
    width: 98%;
    height: 100%;
    margin: 20px 20px 0 20px;
    flex-direction: row;
  }
  .home .home_right .right_line_3 .line_3_right {
    width: 100%;
    margin: 20px;
    flex-direction: column;
  }
  .home .home_right .right_line_3 .line_3_right .r1 {
    padding: 18px;
    width: 98%;
    align-items: center;
    justify-content: center;
  }
  .home .home_right .right_line_3 .line_3_right .r2 {
    padding: 18px;
    text-align: center;
    justify-content: center;
    width: 98%;
  }
  .home .home_right .right_line_3 .line_3_right .r1 .button__content {
    border-radius: 20px 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .home .home_right .right_line_3 .line_3_right .r2 .button__content {
    border-radius: 20px 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .home .home_right .right_line_3 .line_3_right .r1 .button__shadow {
    border-radius: 20px 20px;
    width: 80%;
    left: auto;
  }
  .home .home_right .right_line_3 .line_3_right .r2 .button__shadow {
    border-radius: 20px 20px;
    width: 80%;
    left: auto;
  }
  .home .home_right .right_line_2 .line_2_right .line_2 .wave {
    display: none;
  }
}

/*-----------------Expertics------------------*/
.expert {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150vh;
  background: var(--body-color-right-top);
  top: 0;
}
.expert .expert_right {
  position: relative;
  width: 80%;
  height: 1000px;
}
.expert .expert_right .right_line_1 {
  width: 100%;
  height: 20%;
  position: relative;
}
.expert .expert_right .right_line_1 h1 {
  font-size: 120px;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: azure;
}
.expert .expert_right .right_line_1 h1::before {
  background-color: #0bd290;
  border-radius: 0.25rem;
  content: "";
  display: block;
  height: 1.25rem;
  width: 25%;
}
.expert .expert_right .right_line_2 {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "Victor Mono", monospace;
}
.expert .expert_right .right_line_2 .line_2_left {
  width: 33%;
  position: relative;
  height: 100%;
  margin: 20px 0 20px 20px;
  padding: 10px;
  border-radius: 20px;

  transition: 1s all;
  overflow: hidden;

  box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: rgba(52, 39, 96, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.expert .expert_right .right_line_2 .line_2_left::after {
  content: "";
  position: absolute;
  bottom: -30%;
  right: -30%;
  width: 120px;
  height: 120px;
  background: var(--hover-card-color);
  filter: blur(70px);
  border-radius: 50%;
  transition: width 1s, height 1s;
}
.expert .expert_right .right_line_2 .line_2_left::before {
  content: "";
  position: absolute;
  bottom: -160%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: var(--hover-card-color);
  filter: blur(70px);
  border-radius: 50%;
  transition: width 1s, height 1s;
}
.expert .expert_right .right_line_2 .line_2_left:hover::before {
  bottom: -230%;
  width: 1000px;
  height: 1000px;
  filter: blur(1px);
}

.expert .expert_right .right_line_2 .line_2_left .icons {
  position: relative;
  margin: 20px 0 0 0;
  width: 100%;
  height: 30%;
  font-size: 30px;
  padding: 20px 20px 20px 120px;
}
.expert .expert_right .right_line_2 .line_2_left .icons::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: 20px;
  top: 20px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.expert .expert_right .right_line_2 .line_2_left .title {
  position: relative;
  display: flex;
  width: 100%;
  height: 70%;
  font-size: 10px;
  padding: 30px;
}
.expert .expert_right .right_line_2 .line_2_left .title .htag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.expert .expert_right .right_line_2 .line_2_left .title .htag::after {
  content: "";
  position: absolute;
  width: 2.5px;
  height: 45%;
  top: 60px;
  background: azure;
}

.expert .expert_right .right_line_2 .line_2_left .title .htag h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 250;
  color: azure;
}
.expert .expert_right .right_line_2 .line_2_left .title p {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px 0 30px 0;
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 1500px) and (min-width: 992px),
  (max-width: 576px) {
  .expert {
    height: max-content;
  }

  .expert .expert_right {
    width: 98%;
    height: max-content;
    margin: 0 0 50px 0;
  }
  .expert .expert_right .right_line_2 .line_2_left {
    width: 98%;
    margin: 20px 20px 0 20px;
  }
  .expert .expert_right .right_line_2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .expert .expert_right .right_line_1 h1 {
    font-size: 50px;
    padding: 30px;
  }
  .expert .expert_right .right_line_2 .line_2_left .title p {
    margin: 30px 0;
  }
  .expert .expert_right .right_line_2 .line_2_left .icons::after {
    top: 0px;
  }
  .expert .expert_right .right_line_2 .line_2_left .title .htag::after {
    width: 2px;
    height: 50%;
  }
}

/*----------------Projects---------------*/
.project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  background: linear-gradient(
    180deg,
    rgb(251, 251, 255) 0%,
    rgb(215, 223, 252) 100%
  );
  top: 0;
}
.project .project_right {
  position: relative;
  width: 80%;
  height: max-content;
  margin: 50px 0 50px 0;
}
.project .project_right .right_line_1 {
  width: 100%;
  height: 20%;
  position: relative;
}
.project .project_right .right_line_1 h1 {
  font-size: 120px;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #0d0c22;
}
.project .project_right .right_line_1 h1::before {
  background-color: #0bd290;
  border-radius: 0.25rem;
  content: "";
  display: block;
  height: 1.25rem;
  width: 25%;
}
.project .project_right .right_line_2 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom: 3px dashed #121212;
  font-family: "Victor Mono", monospace;
}
.project .project_right .right_line_2 .line_2_left {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin: 20px 0 0 0px;
  border-radius: 20px;
}
.project .project_right .right_line_2 .line_2_left:nth-child(2) {
  width: 10%;
}
.project .project_right .right_line_2 .line_2_left .images {
  width: 40%;
  height: 98%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .project_right .right_line_2 .line_2_left .feath {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
  text-align: center;
  color: #0d0c22;
}
.project .project_right .right_line_2 .line_2_left .feath .title {
  font-size: 50px;
  text-align: justify;
}
.project .project_right .right_line_2 .line_2_left .feath .des {
  font-weight: 100;
  text-align: justify;
}
.project .project_right .right_line_2 .line_2_left .feath .Icons {
  margin: 20px;
}
.project .project_right .right_line_2 .line_2_left .feath .Icons img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.project .project_right .right_line_2 .line_2_left .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.project .project_right .right_line_2 .line_2_left:nth-child(2) {
  flex-direction: column;
}
.project .project_right .right_line_2 .line_2_left .feath .btns {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: rgb(106, 90, 205, 0.2);
  border-radius: 10px;
  border: 1px dashed #0d0c22;
}
.project .project_right .right_line_2 .line_2_left .feath .btns .site_btn {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  text-align: justify;
  padding: 20px;
}

.project .project_right .right_line_2 .line_2_left .feath .btns .site_btn a {
  display: flex;
  align-items: center;
  color: #082180;
  font-weight: 700;
}
.project
  .project_right
  .right_line_2
  .line_2_left
  .feath
  .btns
  .site_btn
  .weblink:hover,
.project
  .project_right
  .right_line_2
  .line_2_left
  .feath
  .btns
  .site_btn
  .report:hover {
  text-decoration: underline;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 1500px) and (min-width: 992px),
  (max-width: 576px) {
  .project .project_right {
    width: 98%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .project .project_right .right_line_2 {
    flex-direction: column;
    height: 100%;
  }
  .project .project_right .right_line_2 .line_2_left {
    width: 98%;
    flex-direction: column;
    margin: 0 0 20px 0;
    border-radius: 20px;
  }
  .project .project_right .right_line_2 .line_2_left .images {
    width: 98%;
  }
  .project .project_right .right_line_2 .line_2_left .feath {
    width: 98%;
    align-items: flex-start;
    padding: 20px 0 20px 0;
    margin: 0;
  }
  .project .project_right .right_line_2 .line_2_left .feath .title {
    font-size: 30px;
  }
  .project .project_right .right_line_2 .line_2_left:nth-child(2) {
    flex-direction: row;
  }
  .project .project_right .right_line_2 .line_2_left:nth-child(2) {
    width: 98%;
  }
  .project .project_right .right_line_2 .line_2_left .site_btn {
    border-radius: 0px 0px 0px 20px;
    padding: 20px;
  }
  .project .project_right .right_line_2 .line_2_left .report_btn {
    border-radius: 0 0 20px 0px;
    padding: 20px;
  }
  .project .project_right .right_line_2 .line_2_left.btns {
    background: transparent;
    border-radius: 20px 20px 0 0;
  }
  .project .project_right .right_line_1 h1 {
    font-size: 60px;
    padding: 30px;
  }
  .project .project_right .right_line_2 .line_2_left .feath .btns .site_btn {
    width: 98%;
  }
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: var(--body-color-right-top);
}
.footer .f_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 25px;
  font-family: "Victor Mono", monospace;
}
.footer .f_container .social {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 50px 25px 50px;
}
.footer .f_container .label {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}
.footer .f_container .tags {
  width: 100%;
  margin: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}
.footer .f_container .tags li {
  list-style: none;
  padding: 10px;
  font-weight: 500;
}
.footer .f_container .tags li:hover {
  text-decoration: underline;
}
.footer .f_container .social a {
  padding: 14px;
  margin: 10px;
  border-radius: 50%;
  position: relative;
  display: flex;
  background: #f6f6f6;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.footer .f_container .social a:hover {
  background: #0d0c22;
}
.footer .f_container .social a i {
  color: #0d0c22;
  font-size: 25px;
}
.footer .f_container .social a:hover i {
  color: #f6f6f6;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 1500px) and (min-width: 992px),
  (max-width: 576px) {
  .footer .f_container .social {
    flex-direction: column;
  }
  .footer .f_container .tags {
    flex-direction: column;
  }
}
