/************ Custom Font ************/
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  width: 100%;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background: transparent;
}
nav.navbar.scrolled {
  position: fixed;
  padding: 0px 0;
  background: rgba(10, 10, 10);
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;
  font-family: "Preahvihear", sans-serif;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
/*------------------ navbar css ------------------*/

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* ---------------- Banner Css ----------------- */

.banner {
  margin-top: 0;
  padding: 65px 0 100px;
  background-image: url("./assets/img/banner-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, #394867 -5.91%, #212a3e 111.58%);
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  font-family: "Space Mono", monospace;
}
.banner p {
  text-align: justify;
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.banner .containers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .containers .aligh-items-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .containers .aligh-items-center .animate__animated {
  width: auto;
  margin: 100px;
}
.banner .containers .aligh-items-center .animate__animated img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .banner .containers .aligh-items-center {
    flex-direction: column;
    justify-content: center;
  }
  .banner .containers .aligh-items-center .animate__animated {
    width: 100%;
    padding: 20px;
  }
  .banner h1 {
    font-size: 36px;
  }
  .banner .containers .aligh-items-center .animate__animated img {
    display: none;
  }
  .banner p {
    text-align: left;
    width: 85%;
  }
  .banner {
    padding: 140px 0 100px 0;
  }
}
/*---------------- Projects Css -----------------*/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
  z-index: 99;
}
.project h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Preahvihear", sans-serif;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: left;
  width: 100%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* -------------------- contact css --------------------*/
.s_container {
  --gutter-x: 150px;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.contact {
  background: linear-gradient(90.21deg, #2f2daf -5.91%, #2fbd5a 111.58%);
  padding: 60px 0 200px 0;
  z-index: 99;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Preahvihear", sans-serif;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #ffffff;
  background: #000000;
}

.newColom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.profile-bx {
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 50px;
  margin-top: -80px;
}
.profile-bx h2 {
  font-family: "Preahvihear", sans-serif;
  font-size: 50px;
}
.profile-bx .newColom .profile_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}
.profile-bx .newColom .profile_me .image {
  margin: 10px;
  width: 260px;
  height: 260px;
}

.profile-bx .newColom .profile_me .myname {
  margin: 20px;
  font-family: "Preahvihear", sans-serif;
  font-size: 35px;
}
.profile-bx .newColom .profile_me .myname i {
  color: #8f8d8d;
}
.profile-bx .newColom .profile_me .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fafafa;
}

.profile-bx .newColom .discript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin-top: 50px;
}

.profile-bx .newColom .discript .icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profile-bx .newColom .profile_me p i {
  padding: 5px;
  border-radius: 18px;
  margin: 3px;
  color: #121212;
}

.newColom .profile_me p i span {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.newColom .profile_me p i:nth-child(1) {
  background: #62b8ff;
  color: #222;
}
.newColom .profile_me p i:nth-child(2) {
  background: #62ffa9;
  color: #222;
}
.newColom .profile_me p i:nth-child(3) {
  background: #cb62ff;
  color: #222;
  font-family: "Bebas Neue", sans-serif;
}

.newColom .discript .icons .icon_logo {
  padding: 8px;

  border-radius: 50px;
  margin: 5px;
}

.newColom .discript .icons .icon_logo i {
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.newColom .discript .icons .icon_logo sup {
  font-family: "Dosis", sans-serif;
}
.newColom .discript p {
  padding-top: 16px;
  text-align: justify;
}
.newColom .discript .icons .icon_logo:nth-child(1) {
  background: rgb(46, 98, 255, 0.2);
}
.newColom .discript .icons .icon_logo:nth-child(2) {
  background: rgb(43, 202, 154, 0.2);
}
.newColom .discript .icons .icon_logo:nth-child(3) {
  background: rgb(251, 179, 24, 0.2);
}
.newColom .discript .icons .icon_logo:nth-child(4) {
  background: rgb(255, 95, 92, 0.2);
}

.newColom .discript .icons .icon_logo:nth-child(1) i {
  background: #2c62ff;
}
.newColom .discript .icons .icon_logo:nth-child(2) i {
  background: #2bc999;
}
.newColom .discript .icons .icon_logo:nth-child(3) i {
  background: #fbb41a;
}
.newColom .discript .icons .icon_logo:nth-child(4) i {
  background: #ff5e5b;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .newColom {
    display: flex;
    flex-direction: column;
  }
  .newColom .discript {
    width: 90%;
  }
  .newColom .discript .icons {
    flex-direction: column;
    align-items: flex-start;
  }
  .banner {
    padding: 250px 0 100px 0;
  }
  .newColom .discript .icons .icon_logo {
    text-align: left;
    width: 100%;
  }
}
/* ---------------- profile css ---------------- */

/*--------------- footer -------------------*/

.footer {
  --dark-color: #000;
  background: var(--dark-color);
  padding: 2rem 4rem;
}
.footer .f_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer .f_container .align-items-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  color: #fff;
}
.footer .f_container .align-items-center .col {
  width: 140px;
  height: 50%;
  text-align: center;
}
.footer .f_container .align-items-center .col img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer .f_container .align-items-center .discription {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer .f_container .align-items-center .discription h4 {
  padding: 10px 0 10px 0;
  text-align: left;
}
.footer .f_container .align-items-center .discription small {
  padding: 10px 0 10px 0;
  text-align: justify;
}
.footer .f_container .align-items-center .discription small a {
  color: aquamarine;
}

.social {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social .social-icon {
  position: relative;
  text-align: center;
  padding: 16px;
}
.social .social-icon a {
  width: 18px;
  height: 18px;
  padding: 5px;
  text-decoration: none;
}

.social .social-icon a i {
  font-size: 26px;
  background: rgba(217, 217, 217, 0.1);
  padding: 12px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.social .social-icon a i:hover {
  background: #fff;
  color: #222;
}
.social p {
  padding: 10px;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .footer .f_container .align-items-center {
    flex-direction: column;
    height: auto;
  }
  .footer .f_container {
    flex-direction: column;
  }
  .footer .f_container .align-items-center {
    align-items: center;
    justify-content: center;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 0 50px;
  }
  .navbar-text button {
    margin-left: 50px;
  }
  .footer .f_container .align-items-center .col {
    height: 80%;
  }
  .footer .f_container .align-items-center .discription {
    width: 80%;
  }
}
