@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.skillsPage {
  padding: 0;
  position: relative;
  background-color: #121212;
}
.skill-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 50px;
}
.skill-bx .skillColom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------- Skills Css --------------*/

.myskills {
  float: left;
  clear: both;
  width: 100%;
}
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 190px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
ol li:nth-child(2) .loader {
  width: 160px;
}
ol li:nth-child(3) .loader {
  width: 130px;
}
ol li:nth-child(4) .loader {
  width: 270px;
}
.skillColom ol,
.skillColom ol li,
.skillColom ol li strong,
.skillColom ol li p,
.skillColom strong {
  font-family: "Space Mono", monospace;
}
ol li .loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 7s ease-in-out infinite;
}
ol li:nth-child(2) .loader::before {
  animation: moving 8s ease-in-out infinite;
}
ol li:nth-child(3) .loader::before {
  animation: moving 6s ease-in-out infinite;
}
ol li:nth-child(4) .loader::before {
  animation: moving 10s ease-in-out infinite;
}
@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}
.skill-bx h2 {
  font-family: "Preahvihear", sans-serif;
  font-size: 50px;
}
ol {
  margin-top: 50px;
  padding-left: 50px;
}

li {
  color: #565656;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
li:before {
  content: "";
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #ddd;
  position: absolute;
  top: -12px;
  left: -46px;
}

strong {
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
}
ol.alternating-colors li::before {
  border-color: #2378d5;
}
/* ----------------- anchors-------------------------*/

a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .App {
    overflow-x: hidden;
  }
  .skill-bx .skillColom {
    margin-top: 40px;
  }
}
