@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Dosis&display=swap");

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -340px 0 0 -450px;
  width: 900px;
  height: 600px;
}

.legend {
  float: left;
  width: 250px;
  margin-top: 140px;
}

#content h1 {
  font-family: "Cabin Sketch", arial, serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: right;
}

.skills {
  float: left;
  clear: both;
  width: 100%;
}

.skills ul,
.skills li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills li {
  float: right;
  clear: both;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 1px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.skills li:nth-child(1) {
  background: #bedbe9;
}

.skills li:nth-child(2) {
  background: #97be0d;
}

.skills li:nth-child(3) {
  background: #d84f5f;
}

.skills li:nth-child(4) {
  background: #88b8e6;
}
.skills li.myList.hovered {
  transform: scale(1.1);
}

#diagram {
  float: right;
  width: 600px;
  height: 600px;
}

.get {
  display: none;
}

/* ------ anchors
-----------------------------------------------*/

a {
  text-decoration: none;
  color: #333;
}
